// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    margin-right: calc(-1 * (100vw - 100%));
    text-rendering: optimizeLegibility;
}
